.cell {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
    text-align: center;
    font-size: 10px
  }

  .center
{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 500px;
  height: 500px;
  border-radius: 5px;
  
  .column{
    background-color: rgb(91, 150, 218);
    padding-bottom: 5px;
    padding-top: 5px;
  }
}

.slots-col{
 height: 70px;
 width: 50px;
}

app-token{
    position: absolute;
    left: 6px;
    top: -6px;
    margin-top: 10px;
}

